<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>column</key>
	<array>
		<dict>
			<key>image</key>
			<string>CFQJ</string>
			<key>id</key>
			<string>1</string>
			<key>name</key>
			<string>厨房清洁</string>
		</dict>
		<dict>
			<key>image</key>
			<string>CFPJ</string>
			<key>id</key>
			<string>29</string>
			<key>name</key>
			<string>厨房配件</string>
		</dict>
		<dict>
			<key>image</key>
			<string>ZMZP</string>
			<key>id</key>
			<string>79</string>
			<key>name</key>
			<string>竹木制品</string>
		</dict>
		<dict>
			<key>image</key>
			<string>MAZP</string>
			<key>id</key>
			<string>108</string>
			<key>name</key>
			<string>密胺制品</string>
		</dict>
		<dict>
			<key>image</key>
			<string>WYQJ</string>
			<key>id</key>
			<string>121</string>
			<key>name</key>
			<string>卫浴清洁</string>
		</dict>
		<dict>
			<key>image</key>
			<string>YSYP</string>
			<key>id</key>
			<string>143</string>
			<key>name</key>
			<string>浴室用具</string>
		</dict>
		<dict>
			<key>image</key>
			<string>YCX</string>
			<key>id</key>
			<string>155</string>
			<key>name</key>
			<string>一次性用品</string>
		</dict>
		<dict>
			<key>image</key>
			<string>BZXL</string>
			<key>id</key>
			<string>177</string>
			<key>name</key>
			<string>杯子系列</string>
		</dict>
		<dict>
			<key>image</key>
			<string>JJQJ</string>
			<key>id</key>
			<string>199</string>
			<key>name</key>
			<string>居家清洁</string>
		</dict>
		<dict>
			<key>image</key>
			<string>SNZL</string>
			<key>id</key>
			<string>244</string>
			<key>name</key>
			<string>收纳整理</string>
		</dict>
		<dict>
			<key>image</key>
			<string>XXYP</string>
			<key>id</key>
			<string>264</string>
			<key>name</key>
			<string>休闲用品</string>
		</dict>
		<dict>
			<key>image</key>
			<string>SKXL</string>
			<key>id</key>
			<string>284</string>
			<key>name</key>
			<string>烧烤系列</string>
		</dict>
	</array>
</dict>
</plist>
