<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ad</key>
	<array>
		<dict>
			<key>pathname</key>
			<string>/static/uppic/ad/2018-12-28/1545988604967596700.jpg</string>
			<key>url</key>
			<string>https://www.tongcaigou.com/</string>
		</dict>
		<dict>
			<key>pathname</key>
			<string>/static/uppic/ad/2018-11-28/1543370798970153500.jpg</string>
			<key>url</key>
			<string>http://www.tongcaigou.com/news?id=6</string>
		</dict>
		<dict>
			<key>pathname</key>
			<string>/static/uppic/ad/2018-09-28/1538116371588634100.jpg</string>
			<key>url</key>
			<string>/program?id=1</string>
		</dict>
		<dict>
			<key>pathname</key>
			<string>/static/uppic/ad/2018-10-17/1539763666569719500.jpg</string>
			<key>url</key>
			<string>http://www.tongcaigou.com/?u=14</string>
		</dict>
	</array>
	<key>block</key>
	<string>null</string>
	<key>column</key>
	<array>
		<dict>
			<key>id</key>
			<string>4</string>
			<key>name</key>
			<string>婚庆系列</string>
			<key>pathname</key>
			<string>/static/uppic/function/2018-08-31/1535682629663271200.jpg</string>
			<key>pid</key>
			<string>3203,3224,3228,3229,3230,3231,3232,3233,3238,3245,3227,3471,3472,85,3242,3243,3244,3234,3204,3205,2640,2641,3235,3236,3237,53,3225,3226,3248,4407,4408,4409,3239,3240,3241,3473,4048</string>
		</dict>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>name</key>
			<string>限时促销</string>
			<key>pathname</key>
			<string>/static/uppic/function/2018-07-24/1532416130837434800.jpg</string>
			<key>pid</key>
			<string>4097,4094,149,656,112,120,645,1876,2607,4758,4759,4760</string>
		</dict>
		<dict>
			<key>id</key>
			<string>2</string>
			<key>name</key>
			<string>清仓甩货</string>
			<key>pathname</key>
			<string>/static/uppic/function/2018-10-17/1539763341971084400.jpg</string>
			<key>pid</key>
			<string>4790,4791</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1</string>
			<key>name</key>
			<string>一起来拼团</string>
			<key>pathname</key>
			<string>/static/uppic/function/2018-09-28/1538114504533104700.jpg</string>
			<key>pid</key>
			<string>4757,4715</string>
		</dict>
	</array>
	<key>good</key>
	<array>
		<dict>
			<key>pathname</key>
			<string>/static/images/201711/source_img/2449_G_1510870300305.JPG</string>
		</dict>
		<dict>
			<key>pathname</key>
			<string>/static/images/201707/source_img/7_G_1500267577259.jpg</string>
		</dict>
	</array>
	<key>mbuy</key>
	<array>
		<dict>
			<key>pathname</key>
			<string>/static/images/201806/source_img/3852_G_1529112563743.jpg</string>
		</dict>
		<dict>
			<key>pathname</key>
			<string>/static/images/201806/source_img/3841_G_1529111060381.jpg</string>
		</dict>
	</array>
	<key>news</key>
	<array>
		<dict>
			<key>id</key>
			<string>6</string>
			<key>title</key>
			<string>招募令</string>
		</dict>
		<dict>
			<key>id</key>
			<string>4</string>
			<key>title</key>
			<string>统采商城2.0版上线啦</string>
		</dict>
		<dict>
			<key>id</key>
			<string>2</string>
			<key>title</key>
			<string>统采网络商城——最懂你的百货供应平台</string>
		</dict>
		<dict>
			<key>id</key>
			<string>1</string>
			<key>title</key>
			<string>敬启诸位</string>
		</dict>
	</array>
	<key>product</key>
	<array>
		<dict>
			<key>active</key>
			<integer>0</integer>
			<key>hp</key>
			<string>100</string>
			<key>id</key>
			<string>3951</string>
			<key>isvip</key>
			<string>1</string>
			<key>keywords</key>
			<array>
				<string>&lt;nil&gt;</string>
			</array>
			<key>mprice</key>
			<string>2.40</string>
			<key>pathname</key>
			<string>/static/images/201807/source_img/3951_G_1531702393092.jpg</string>
			<key>price</key>
			<string>7.20</string>
			<key>title</key>
			<string>广华久久小熊四连钩 8708</string>
		</dict>
		<dict>
			<key>active</key>
			<integer>0</integer>
			<key>hp</key>
			<string>100</string>
			<key>id</key>
			<string>3950</string>
			<key>isvip</key>
			<string>1</string>
			<key>keywords</key>
			<array>
				<string>&lt;nil&gt;</string>
			</array>
			<key>mprice</key>
			<string>1.25</string>
			<key>pathname</key>
			<string>/static/images/201807/source_img/3950_G_1531700706448.jpg</string>
			<key>price</key>
			<string>3.75</string>
			<key>title</key>
			<string>广华久久U形大号粘钩 8707</string>
		</dict>
		<dict>
			<key>active</key>
			<integer>0</integer>
			<key>hp</key>
			<string>100</string>
			<key>id</key>
			<string>3949</string>
			<key>isvip</key>
			<string>1</string>
			<key>keywords</key>
			<array>
				<string>&lt;nil&gt;</string>
			</array>
			<key>mprice</key>
			<string>2.50</string>
			<key>pathname</key>
			<string>/static/images/201807/source_img/3949_G_1531700365207.jpg</string>
			<key>price</key>
			<string>7.50</string>
			<key>title</key>
			<string>广华木质大号小蜜蜂粘钩 8214</string>
		</dict>
		<dict>
			<key>active</key>
			<integer>0</integer>
			<key>hp</key>
			<string>100</string>
			<key>id</key>
			<string>3948</string>
			<key>isvip</key>
			<string>1</string>
			<key>keywords</key>
			<array>
				<string>&lt;nil&gt;</string>
			</array>
			<key>mprice</key>
			<string>2.90</string>
			<key>pathname</key>
			<string>/static/images/201807/source_img/3948_G_1531700092231.jpg</string>
			<key>price</key>
			<string>8.70</string>
			<key>title</key>
			<string>广华木质小号小蜜蜂粘钩 8213</string>
		</dict>
		<dict>
			<key>active</key>
			<integer>0</integer>
			<key>hp</key>
			<string>100</string>
			<key>id</key>
			<string>3947</string>
			<key>isvip</key>
			<string>1</string>
			<key>keywords</key>
			<array>
				<string>&lt;nil&gt;</string>
			</array>
			<key>mprice</key>
			<string>2.50</string>
			<key>pathname</key>
			<string>/static/images/201807/source_img/3947_G_1531699670277.jpg</string>
			<key>price</key>
			<string>7.50</string>
			<key>title</key>
			<string>广华木质大号蛋形粘钩 8210</string>
		</dict>
		<dict>
			<key>active</key>
			<integer>0</integer>
			<key>hp</key>
			<string>100</string>
			<key>id</key>
			<string>3946</string>
			<key>isvip</key>
			<string>1</string>
			<key>keywords</key>
			<array>
				<string>&lt;nil&gt;</string>
			</array>
			<key>mprice</key>
			<string>2.90</string>
			<key>pathname</key>
			<string>/static/images/201807/source_img/3946_G_1531698989550.jpg</string>
			<key>price</key>
			<string>8.70</string>
			<key>title</key>
			<string>广华木质小号蛋形粘钩 8209</string>
		</dict>
		<dict>
			<key>active</key>
			<integer>0</integer>
			<key>hp</key>
			<string>100</string>
			<key>id</key>
			<string>3945</string>
			<key>isvip</key>
			<string>1</string>
			<key>keywords</key>
			<array>
				<string>&lt;nil&gt;</string>
			</array>
			<key>mprice</key>
			<string>2.50</string>
			<key>pathname</key>
			<string>/static/images/201807/source_img/3945_G_1531698711839.jpg</string>
			<key>price</key>
			<string>7.50</string>
			<key>title</key>
			<string>广华木质大号圆形粘钩 8206</string>
		</dict>
		<dict>
			<key>active</key>
			<integer>0</integer>
			<key>hp</key>
			<string>100</string>
			<key>id</key>
			<string>3944</string>
			<key>isvip</key>
			<string>1</string>
			<key>keywords</key>
			<array>
				<string>&lt;nil&gt;</string>
			</array>
			<key>mprice</key>
			<string>2.60</string>
			<key>pathname</key>
			<string>/static/images/201807/source_img/3944_G_1531337336211.jpg</string>
			<key>price</key>
			<string>7.80</string>
			<key>title</key>
			<string>广华小号不锈钢粘钩5个装 9116</string>
		</dict>
		<dict>
			<key>active</key>
			<integer>0</integer>
			<key>hp</key>
			<string>100</string>
			<key>id</key>
			<string>3943</string>
			<key>isvip</key>
			<string>1</string>
			<key>keywords</key>
			<array>
				<string>&lt;nil&gt;</string>
			</array>
			<key>mprice</key>
			<string>3.90</string>
			<key>pathname</key>
			<string>/static/images/201807/source_img/3943_G_1531337085966.jpg</string>
			<key>price</key>
			<string>11.70</string>
			<key>title</key>
			<string>广华久久球头四连钩 9150</string>
		</dict>
		<dict>
			<key>active</key>
			<integer>0</integer>
			<key>hp</key>
			<string>100</string>
			<key>id</key>
			<string>3942</string>
			<key>isvip</key>
			<string>1</string>
			<key>keywords</key>
			<array>
				<string>&lt;nil&gt;</string>
			</array>
			<key>mprice</key>
			<string>2.80</string>
			<key>pathname</key>
			<string>/static/images/201807/source_img/3942_G_1531336873266.jpg</string>
			<key>price</key>
			<string>8.40</string>
			<key>title</key>
			<string>广华久久卡通四连钩 9131</string>
		</dict>
		<dict>
			<key>active</key>
			<integer>0</integer>
			<key>hp</key>
			<string>100</string>
			<key>id</key>
			<string>3941</string>
			<key>isvip</key>
			<string>1</string>
			<key>keywords</key>
			<array>
				<string>&lt;nil&gt;</string>
			</array>
			<key>mprice</key>
			<string>2.10</string>
			<key>pathname</key>
			<string>/static/images/201807/source_img/3941_G_1531335941331.jpg</string>
			<key>price</key>
			<string>6.30</string>
			<key>title</key>
			<string>广华久久强力粘钩 9123</string>
		</dict>
		<dict>
			<key>active</key>
			<integer>0</integer>
			<key>hp</key>
			<string>100</string>
			<key>id</key>
			<string>3940</string>
			<key>isvip</key>
			<string>1</string>
			<key>keywords</key>
			<array>
				<string>&lt;nil&gt;</string>
			</array>
			<key>mprice</key>
			<string>3.30</string>
			<key>pathname</key>
			<string>/static/images/201807/source_img/3940_G_1531335429724.jpg</string>
			<key>price</key>
			<string>9.90</string>
			<key>title</key>
			<string>广华久久笑脸六连体粘钩 8897</string>
		</dict>
		<dict>
			<key>active</key>
			<integer>0</integer>
			<key>hp</key>
			<string>100</string>
			<key>id</key>
			<string>3939</string>
			<key>isvip</key>
			<string>1</string>
			<key>keywords</key>
			<array>
				<string>&lt;nil&gt;</string>
			</array>
			<key>mprice</key>
			<string>1.20</string>
			<key>pathname</key>
			<string>/static/images/201807/source_img/3939_G_1531333452290.jpg</string>
			<key>price</key>
			<string>3.60</string>
			<key>title</key>
			<string>广华中国结挂钩 8869</string>
		</dict>
		<dict>
			<key>active</key>
			<integer>0</integer>
			<key>hp</key>
			<string>100</string>
			<key>id</key>
			<string>3938</string>
			<key>isvip</key>
			<string>1</string>
			<key>keywords</key>
			<array>
				<string>&lt;nil&gt;</string>
			</array>
			<key>mprice</key>
			<string>1.60</string>
			<key>pathname</key>
			<string>/static/images/201807/source_img/3938_G_1531332860859.jpg</string>
			<key>price</key>
			<string>4.80</string>
			<key>title</key>
			<string>广华卡通三连体粘钩 8833</string>
		</dict>
		<dict>
			<key>active</key>
			<integer>0</integer>
			<key>hp</key>
			<string>100</string>
			<key>id</key>
			<string>3937</string>
			<key>isvip</key>
			<string>1</string>
			<key>keywords</key>
			<array>
				<string>&lt;nil&gt;</string>
			</array>
			<key>mprice</key>
			<string>2.50</string>
			<key>pathname</key>
			<string>/static/images/201807/source_img/3937_G_1531331998270.jpg</string>
			<key>price</key>
			<string>7.50</string>
			<key>title</key>
			<string>广华木质大号动物粘钩 8218</string>
		</dict>
		<dict>
			<key>active</key>
			<integer>0</integer>
			<key>hp</key>
			<string>100</string>
			<key>id</key>
			<string>3936</string>
			<key>isvip</key>
			<string>1</string>
			<key>keywords</key>
			<array>
				<string>&lt;nil&gt;</string>
			</array>
			<key>mprice</key>
			<string>2.50</string>
			<key>pathname</key>
			<string>/static/images/201807/source_img/3936_G_1531331167787.jpg</string>
			<key>price</key>
			<string>7.50</string>
			<key>title</key>
			<string>广华木质大号小猪小苗牛粘钩 8216</string>
		</dict>
		<dict>
			<key>active</key>
			<integer>0</integer>
			<key>hp</key>
			<string>100</string>
			<key>id</key>
			<string>3935</string>
			<key>isvip</key>
			<string>1</string>
			<key>keywords</key>
			<array>
				<string>&lt;nil&gt;</string>
			</array>
			<key>mprice</key>
			<string>2.90</string>
			<key>pathname</key>
			<string>/static/images/201807/source_img/3935_G_1531330555616.jpg</string>
			<key>price</key>
			<string>8.70</string>
			<key>title</key>
			<string>广华木质小号小猪小猫牛粘钩 8215</string>
		</dict>
		<dict>
			<key>active</key>
			<integer>0</integer>
			<key>hp</key>
			<string>100</string>
			<key>id</key>
			<string>3934</string>
			<key>isvip</key>
			<string>1</string>
			<key>keywords</key>
			<array>
				<string>&lt;nil&gt;</string>
			</array>
			<key>mprice</key>
			<string>2.50</string>
			<key>pathname</key>
			<string>/static/images/201807/source_img/3934_G_1531272624012.jpg</string>
			<key>price</key>
			<string>7.50</string>
			<key>title</key>
			<string>广华木质大号方形粘钩 8208</string>
		</dict>
		<dict>
			<key>active</key>
			<integer>0</integer>
			<key>hp</key>
			<string>100</string>
			<key>id</key>
			<string>3933</string>
			<key>isvip</key>
			<string>1</string>
			<key>keywords</key>
			<array>
				<string>&lt;nil&gt;</string>
			</array>
			<key>mprice</key>
			<string>2.90</string>
			<key>pathname</key>
			<string>/static/images/201807/source_img/3933_G_1531272061055.jpg</string>
			<key>price</key>
			<string>8.70</string>
			<key>title</key>
			<string>广华木质小号方形粘钩 8207</string>
		</dict>
		<dict>
			<key>active</key>
			<integer>0</integer>
			<key>hp</key>
			<string>100</string>
			<key>id</key>
			<string>3932</string>
			<key>isvip</key>
			<string>1</string>
			<key>keywords</key>
			<array>
				<string>&lt;nil&gt;</string>
			</array>
			<key>mprice</key>
			<string>2.90</string>
			<key>pathname</key>
			<string>/static/images/201807/source_img/3932_G_1531271638805.jpg</string>
			<key>price</key>
			<string>8.70</string>
			<key>title</key>
			<string>广华木质小号圆形粘钩 8205</string>
		</dict>
	</array>
	<key>recom</key>
	<dict>
		<key>pathname</key>
		<string>/static/images/201807/source_img/3950_G_1531700706448.jpg</string>
	</dict>
	<key>recommend</key>
	<array>
		<dict>
			<key>active</key>
			<integer>0</integer>
			<key>hp</key>
			<string>100</string>
			<key>id</key>
			<string>2449</string>
			<key>isvip</key>
			<string>1</string>
			<key>keywords</key>
			<array>
				<string>&lt;nil&gt;</string>
			</array>
			<key>mprice</key>
			<string>8.20</string>
			<key>pathname</key>
			<string>/static/images/201711/source_img/2449_G_1510870300305.JPG</string>
			<key>price</key>
			<string>24.60</string>
			<key>title</key>
			<string>大鹏防静电鬃毛扫帚 3926</string>
		</dict>
		<dict>
			<key>active</key>
			<integer>0</integer>
			<key>hp</key>
			<string>100</string>
			<key>id</key>
			<string>2442</string>
			<key>isvip</key>
			<string>1</string>
			<key>keywords</key>
			<array>
				<string>&lt;nil&gt;</string>
			</array>
			<key>mprice</key>
			<string>5.50</string>
			<key>pathname</key>
			<string>/static/images/201801/source_img/2442_G_1515375003413.jpg</string>
			<key>price</key>
			<string>16.50</string>
			<key>title</key>
			<string>大鹏密实袋（30个装） 3140</string>
		</dict>
		<dict>
			<key>active</key>
			<integer>0</integer>
			<key>hp</key>
			<string>100</string>
			<key>id</key>
			<string>2296</string>
			<key>isvip</key>
			<string>1</string>
			<key>keywords</key>
			<array>
				<string>&lt;nil&gt;</string>
			</array>
			<key>mprice</key>
			<string>7.40</string>
			<key>pathname</key>
			<string>/static/images/201801/source_img/2296_G_1515545337205.jpg</string>
			<key>price</key>
			<string>22.20</string>
			<key>title</key>
			<string>大鹏魔梳灵动扫把 3902</string>
		</dict>
		<dict>
			<key>active</key>
			<integer>0</integer>
			<key>hp</key>
			<string>100</string>
			<key>id</key>
			<string>2295</string>
			<key>isvip</key>
			<string>1</string>
			<key>keywords</key>
			<array>
				<string>&lt;nil&gt;</string>
			</array>
			<key>mprice</key>
			<string>7.80</string>
			<key>pathname</key>
			<string>/static/images/201801/source_img/2295_G_1515545921427.jpg</string>
			<key>price</key>
			<string>23.40</string>
			<key>title</key>
			<string>大鹏美丽扫旋转扫把 3912</string>
		</dict>
		<dict>
			<key>active</key>
			<integer>0</integer>
			<key>hp</key>
			<string>100</string>
			<key>id</key>
			<string>2007</string>
			<key>isvip</key>
			<string>1</string>
			<key>keywords</key>
			<array>
				<string>&lt;nil&gt;</string>
			</array>
			<key>mprice</key>
			<string>7.20</string>
			<key>pathname</key>
			<string>/static/images/201801/source_img/2007_G_1515460598386.jpg</string>
			<key>price</key>
			<string>21.60</string>
			<key>title</key>
			<string>大鹏魔梳.耐美扫把 3901</string>
		</dict>
		<dict>
			<key>active</key>
			<integer>0</integer>
			<key>hp</key>
			<string>100</string>
			<key>id</key>
			<string>1710</string>
			<key>isvip</key>
			<string>1</string>
			<key>keywords</key>
			<array>
				<string>&lt;nil&gt;</string>
			</array>
			<key>mprice</key>
			<string>24.50</string>
			<key>pathname</key>
			<string>/static/images/201801/source_img/1710_G_1515547365357.jpg</string>
			<key>price</key>
			<string>73.50</string>
			<key>title</key>
			<string>大鹏锋洁对折式胶棉拖把 3998</string>
		</dict>
	</array>
	<key>sysRcmd</key>
	<true/>
	<key>uid</key>
	<string></string>
</dict>
</plist>
